.projects__content {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .projects__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .projects__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .section__subtitle {
    font-size: var(--smaller-font-size);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .section__subtitle {
    font-size: var(--tiny-font-size);
  }
}
