.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--title-color-dark);
}

@media screen and (max-width: 768px) {
  /* Header en haut au lieu d'en bas */
  .header {
    top: 0;
    bottom: initial; /* Annule la position en bas */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
  }

  /* Menu de navigation en haut */
  .nav__menu {
    position: fixed;
    top: -100%; /* Cache le menu en haut par défaut */
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre cohérente en haut */
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.3s;
  }

  /* Affichage du menu (en haut) */
  .show-menu {
    z-index: 10;
    top: 0; /* Affiche le menu en haut */
    background-color: white;
  }

  /* Liste des éléments du menu */
  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  /* Bouton de fermeture du menu */
  .nav__close {
    position: absolute;
    right: 1.3rem;
    top: 1.5rem; /* Positionnement en haut */
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  /* Bouton toggle pour le menu */
  .nav__toggle {
    font-size: 1rem;
    font-weight: var(--font-normal);
    font-size: var(--normal-font-size);
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
    color: black;
  }
  .nav__logo {
    color: black;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
}
